<h1>TwiTrend</h1>
<h4>Twitrendは、筑波大のツイッターの利用具合からトレンドを抽出するサービスです。</h4>

<% keyword1 = @items.sample.word %><% keyword2 = @items.sample.word %>
今の<a href="https://twitter.com/ITF_katoyu">@ITF_katoyu</a>のタイムラインのトレンドは一言で言うと 「<%= keyword1 %><%= keyword2 %>」です！
<br>
<a href="https://twitter.com/share?text=今のトレンドは「<%= keyword1 %><%= keyword2 %>」?%0a詳細はこちら&url=http://katoyu.com/twitrend&hashtags=twitrend" 
onClick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;" rel="nofollow" class="twitter-link">
  twitterでshare!
</a>
<br><br>
取得時刻:<%= @items[0].created_at %><br>

<table border="1">
  <tr>
    <th>単語</th> <th>件数</th> <!-- <th>時刻</th> --> 
  </tr>
<% @items.first(30).each do |item| %>
  <tr>
    <td><%= item.word %></td>
    <td><%= item.count %></td> 
    <!-- <td><%= item.created_at %></td> -->
  </tr>
<% end %>
</table>

<!-- <% %> は表示されず、<%= %>は表示される-->